#indepth_content {
    width: 100%;
    height: 100%;
    position: relative;
}
#model_header {
    height: 33px;
    position: absolute;
    top: 0px;
    width: 100%;
}
	#header_container {
	    width: 970px;
	    height: 100%;
	    margin: auto;
	}
	.header_items {
	    background-repeat: no-repeat;
	    height: 33px;
	    background-size: 100%;
	}
	#logo_header {
	    background-image: url("../images/IMG_LogoHeader.png");
	    width: 288px;
	    float: left;
	}
	#juan_header {
	    background-image: url("../images/IMG_juanfutbolHeader.png");
	    width: 126px;
	    float: right;
	}
#model_video_display {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
    display: none;
}
#video_container{
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	width: 970px;
	margin: auto;
}
#video {
    width: 970px;
    height: 546px;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#close {
	width: 39px;
    height: 27px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10%;
    cursor: pointer;
    background-image: url("../images/IMG_Tache.png");
    background-size: 100%;
    background-repeat: no-repeat;
}